.container {
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	background-color: #2e2f31;
	overflow: hidden;
}
.header {
	position: absolute;
	z-index: 100;
	display: flex;
	padding-left: 35px;
}
.title{
	position: relative;
	color: #ffcb71;
	font-family: "Kanit";
	font-weight: 500;
	text-align: center;
}
.values-list {
	flex: 1.5;
	background-image: url("../../assets/images/value-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	overflow-y: scroll;
}
.categories-list {
	height: 100%;
	flex: 1;
	background-color: #000;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	padding-top: 35px;
	overflow-y: scroll;
}
.close-btn-container {
	display: none;
	width: 100%;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 50px;
}
.close-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.open-btn {
	display: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	left: 15px;
	top: 25px;
}

@media only screen and (max-width: 600px) {
	.container{
		flex-direction: column;
	}
  .categories-list {
		position: absolute;
		width: 100%;
		z-index: 200;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 15px;
	}
	.values-list::before {
		right: 0;
	}
	.header {
		padding: 0px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.title {
		font-size: 25px;
	}
	.close-btn-container {
		display: flex;
	}
	.open-btn {
		display: flex;
	}
}